.login {
    width:300px;
    margin:auto;
    padding-top:0;
}
.login-titre {
        margin: 0 -24px 16px -24px;
        padding:48px 0 48px 0;
        background-color: #009688;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        color:#fff;
}
.login-input {
    width: 100%;
}